/* Inner */
.inner {
    padding: 3.125rem 1.625rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 2.8125rem;
    overflow: hidden;
}

/* Brand */
.brand-group, .brand {
    display: flex;
}

/* Copy */
.copy {
    text-align: center;
}

.heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--neu-clr__dark-grayish-blue);
}

.sub-heading {
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.00625rem;
    color: var(--neu-clr__grayish-blue);
}

/* Button */
.btn-group {
    display: flex;
    padding: 0 0.3125rem;
    width: 100%;
}

.btn {
    border-radius: 3rem;
    box-shadow: 0 0.125rem 0.25rem var(--neu-clr__dark-grayish-blue);
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.0625rem;
    color: hsl(0, 50%, 100%);
}

/* Image */

.img-group {
    width: 100%;
}

.img-group__image {
    max-width: 100%;
}

/* Card */

.card-group {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: fit-content;
}

.card__heading {
    font-size: 1.5rem;
}

/* Social */

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social__link-icon {
    width: fit-content;
}

@media screen and (min-width: 1440px) {
    /* Links */
    .nav-link:hover {
        font-weight: 500;
        color: var(--pri-clr__strong-cyan);
    }
    
    /* Copy */

    .heading {
        font-size: 2.875rem;
    }

    .sub-heading {
        font-size: 1.25rem;
    }

    /* Button */

    .btn {
        padding: 1rem 2.125rem;
        width: fit-content;
    }

    /* Social */

    .social__link-icon:hover {
        fill: var(--pri-clr__strong-cyan);
    }
    
    .social__icon-path:hover {
        fill: inherit;
    }
}