@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-SemiBold.ttf");
    font-weight: 500;
}

:root {
    font-size: 16px;
    /* Primary colors */
    --pri-clr__strong-cyan: hsl(171, 66%, 44%);
    --pri-clr__light-blue: hsl(233, 100%, 69%);
    /* Neutral colors */
    --neu-clr__dark-grayish-blue: hsl(210, 10%, 33%);
    --neu-clr__grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

.body {
    font-family: "Bai Jamjuree";
    margin: 0;
}

.nav {
    padding: 0;
    list-style-type: none;
}

.nav-item {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.nav-link {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--neu-clr__dark-grayish-blue);
}

/* Main */
/* 
Hero
*/
.hero {
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__brand-group {
    margin: 4.5625rem 0 4rem;
}

.hero__brand {
    margin: 0 auto;
}

.hero__copy {
    padding: 0 0.3125rem;
}

.hero__heading {
    margin-bottom: 1rem;
}

.hero__btn-group {
    margin-top: 2.1875rem;
    flex-direction: column;
}

.hero__btn {
    margin: 0.9rem 0;
}

.btn--ios {
    background-color: var(--pri-clr__strong-cyan);
}

.btn--mac {
    background-color: var(--pri-clr__light-blue);
}

/* Features */
.features__heading {
    margin: 1.25rem 0 1.125rem;
    font-size: 1.75rem;
}
/* 
Snippets
*/

.snippets__heading {
    margin-top: 2.75rem;
}

.snippets__sub-heading {
    padding: 0 0.625rem;
}

.snippets__highlight {
    margin: 1.875rem 0;
}

.highlight__copy {
    margin-bottom: 2.8rem;
}

.highlight__heading {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
}

.highlight__sub-heading {
    margin-top: 0.625rem;
    padding: 0 0.3125rem;
}

/*
Access
*/

.access__heading {
    margin-top: 1.25rem;
}

/* 
Workflow
*/

.workflow__card-group {
    flex-direction: column;
}

.workflow__card {
    margin-bottom: 1.875rem;
}

.workflow__card-heading {
    margin: 2.25rem 0 1.5rem;
}

/*
Partners
*/

.partners__content {
    margin-top: -2rem;
    padding:  0;
}

.partners__brand-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners__brand {
    margin: 1.75rem 0;
}

.partners__brand-logo {
    transform: scale(0.85);
}

/*
OS-Support
*/

.os-support__sub-heading {
    padding: 0 0.375rem
}

.os-support__btn-group {
    flex-direction: column;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.2rem 1.625rem 3rem;
}

.footer__brand-group {
    justify-content: center;
}

.footer__clipboard-logo {
    width: 55px;
    height: 55px;
}

.footer__backlinks {
    margin: 1.75rem 0 2.8125rem;
    display: flex;
    flex-direction: column;
}

.footer__backlinks-item {
    padding: 0.875rem;
}

.footer__social-link {
    margin: 0 1.25rem;
}

@media screen and (min-width: 1440px) {
    /* Main */
    /*
    Hero
    */
    .hero {
        background-image: url("../images/bg-header-desktop.png");
    }

    .hero__brand-group {
        margin: 5rem 0 3.5625rem;
    }
    
    .hero__copy {
        margin: 0 auto;
        width: 60%;
    }

    .hero__heading {
        letter-spacing: -0.0375rem;
    }

    .hero__sub-heading {
        margin-top: 1.125rem;
        padding: 0 3.8rem;
        line-height: 1.85rem;
    }

    .hero__btn-group {
        margin-top: 2.875rem;
        flex-direction: row;
        justify-content: center;
    }

    .hero__btn {
        margin: 0 0.5rem;
    }

    .hero__btn:hover {
        cursor: pointer;
        font-weight: 500;
        opacity: 0.75;
    }

    /* Features */
    
        .features__heading {
            margin: 3.25rem 0 1.5rem;
            font-size: 2.1875rem;
        }
    
        .features__sub-heading {
            margin: 1rem auto;
            padding: 0 3.5rem;
            font-size: 1.125rem;
            line-height: 1.85rem;
            width: 60%;
        }
    /*
    Snippets
    */
    
    .snippets__inner {
        padding-left: 0;
        padding-right: 0;
    }
    
    .snippets__sub-heading {
        padding: 0 5rem;
    }
    
    .snippets__content {    
        flex-direction: row;
        padding-top: 3.875rem;
    }

    .snippets__img-group {
        width: 50%;
        max-width: 50%;
        overflow: visible;
    }

    .snippets__img-computer {
        left: -2rem;
        max-width: initial;
    }
    
    .snippets__highlight {
        margin: 2.875rem 0 2.25rem 6.875rem;
    }

    .highlight__copy {
        margin-bottom: 3.75rem;
        text-align: left;
        width: 60%;
    }

    .highlight__heading {
        font-size: 1.4375rem;
    }
    
    .highlight__sub-heading {
        padding: 0 0.5rem 0 0;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    /*
    Access
    */
    
    .access__inner {
        padding-bottom: 1.25rem;
    }

    .access__heading {
        margin: 2.875rem 0 1.25rem;
    }

    .access__content {
        margin-top: 3.5rem;
        align-items: center;
    }

    .access__img-group {
        width: fit-content;
    }
    
    /*
    Workflow
    */
    
    .workflow__heading {
        margin-top: 0;
    }

    .workflow__sub-heading, .workflow__card-sub-heading {
        font-size: 1.125rem;
    }

    .workflow__content {
        padding-top: 3.5rem;
    }
    
    .workflow__card-group {
        display: grid;
        grid-template-columns: 7.8125rem repeat(3, 1fr) 7.8125rem;
        grid-template-areas: ". c-blacklist c-text c-preview .";
    }

    .workflow__card {
        justify-content: start;
    }
    
    .card__blacklist {
        grid-area: c-blacklist;
    }

    .workflow__card-img {
        display: flex;
        align-items: start;
        height: 2.5rem;
    }
    
    .workflow__card-heading {
        margin-bottom: 1.125rem;
        font-size: 1.46875rem;
    }

    .workflow__card-sub-heading {
        padding: 0 0.5rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
    .card__text {
        grid-area: c-text;
    }

    .card__preview {
        grid-area: c-preview;
    }
    
    /*
    Partners
    */
    
    .partners__inner {
        padding: 2.25rem 7.5rem;
    }
    
    .partners__content {
        margin-top: 0;
    }

    .partners__brand-group {
        flex-direction: row;
    }

    .partners__brand {
        margin: 1.8rem 3rem;
        justify-content: center;
        width: min-content;
    }
    
    .partners__brand-logo {
        transform: initial;
    }
    
    /*
    OS-Support
    */

    .os-support__heading {
        margin-top: 2.625rem;
    }

    .os-support__btn-group {
        margin-top: 2.625rem;
        flex-direction: row;
        justify-content: center;
    }

    /* Footer */

    .footer {
        margin-top: 5rem;
        flex-direction: row;
        justify-content: start;
        padding: 3.5rem 10rem 2.25rem;
    }

    .footer__brand-group {
        margin-right: 7.9375rem;
        width: min-content;
    }

    .footer__backlinks {
        margin: 0;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        max-height: 5.125rem;
    }

    .footer__backlinks-item {
        margin-left: 0.9375rem;
        margin-right: 3.125rem;
        padding: 0.5625rem 0;
        width: fit-content;
    }

    .footer__social {
        margin-left: auto;
    }

    .footer__social-link {
        margin: 0.625rem 0.375rem 0 1.125rem;
    }
}

/* 
Node general modifiers
*/

.node--hidden {
    display: none;
}

.node--displayed {
    display: block;
}

.node__pos--rel {
    position: relative;
}

.node__pos--abs {
    position: absolute;
}

.node__pos--fix {
    position: fixed;
}