@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Bai Jamjuree";
    src: url("../fonts/BaiJamjuree-SemiBold.ttf");
    font-weight: 500;
}

:root {
    font-size: 16px;
    /* Primary colors */
    --pri-clr__strong-cyan: hsl(171, 66%, 44%);
    --pri-clr__light-blue: hsl(233, 100%, 69%);
    /* Neutral colors */
    --neu-clr__dark-grayish-blue: hsl(210, 10%, 33%);
    --neu-clr__grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

.body {
    font-family: "Bai Jamjuree";
    margin: 0;
}

/* Main */
/* 
Hero
*/
.hero {
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__brand-group {
    margin: 4.5625rem 0 4rem;
}

.hero__brand {
    margin: 0 auto;
}

.hero__copy {
    padding: 0 0.3125rem;
}

.hero__heading {
    margin-bottom: 1rem;
}

.hero__btn-group {
    margin-top: 2.1875rem;
    flex-direction: column;
}

.hero__btn {
    margin: 0.9rem 0;
}

.btn--ios {
    background-color: var(--pri-clr__strong-cyan);
}

.btn--mac {
    background-color: var(--pri-clr__light-blue);
}

/* Features */
/* 
Snippets
*/
.features__heading {
    margin: 1.25rem 0 1.125rem;
    font-size: 1.75rem;
}

.snippets__heading {
    margin-top: 2.75rem;
}

.snippets__sub-heading {
    padding: 0 0.625rem;
}

.snippets__highlight {
    margin: 1.875rem 0;
}

.highlight__copy {
    margin-bottom: 2.8rem;
}

.highlight__heading {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
}

.highlight__sub-heading {
    margin-top: 0.625rem;
    padding: 0 0.3125rem;
}

/*
Access
*/

.access__heading {
    margin-top: 1.25rem;
}

/* 
Node general modifiers
*/

.node--hidden {
    display: none;
}

.node--displayed {
    display: block;
}

.node__pos--rel {
    position: relative;
}

.node__pos--abs {
    position: absolute;
}

.node__pos--fix {
    position: fixed;
}